body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(90deg, #e6de00, #0038a8, #ffffff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(90deg, #e6de00, #0038a8, #ffffff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.formLogin {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: inset;
  -webkit-box-shadow: 10px 10px 32px -4px #00000062;
  -moz-box-shadow: 10px 10px 32px -4px #00000062;
  box-shadow: 10px 10px 32px -4px #00000062;
}

.formLogin label {
  margin-top: 0.5rem;
}

.buttonLogin {
  background-color: #ffffff;
  width: 100%;
  border: 1px #ffffff solid;
  color: #000000;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-end-end-radius: 1rem;
  border-end-start-radius: 1rem;
}

input {
  border: 1px #969696 solid;
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
  margin: 1rem;
}

h1 {
  width: 100%;
  margin: 0;
  background-color: #ff0000;
  color: #ffffff;
  border-start-end-radius: 1rem;
  border-start-start-radius: 1rem;
}


.center-line {
  position: absolute;
  top: 50%;
  width: 16%;
  height: 10px;
  background: #000;
  transform: translateY(-50%);
}